@font-face {
    font-family: 'Inconsolata';
    src: url('https://fonts.googleapis.com/css?family=Inconsolata');
}

html,body,#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #555;
  font-family: 'Inconsolata', monospace;
}
canvas {
  padding: 0;
  margin: auto;
  display: block;
}
#hide{
	display: none;
}